{
    "start_level": "levels/Intro",

    "ppu": 16,

    "fonts_path": "fonts/",
    "actor_paths": {
        "player": "actors/player",
        "small_cactus": "actors/smallCactus",
        "tall_cactus": "actors/tallCactus",
        "basic_enemy": "actors/basicEnemy",
        "desert": "actors/tilesets/desert",
        "walls": "actors/tilesets/walls"
    }
}
